<% provide(:title, 'Contact') %>
<h1>About Personal Contacts</h1>

<p>
  This is a demo app which demonstrates using nested form.
  With this app you can create contacts with more phone number.
  Phone number may by different types. You can insert, edit and destroy contacts.
</p>