<div class="center hero-unit">
  <h1>Welcome to the Personal contacts</h1>

  <%= link_to "Come in", contacts_path  , class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("contacts.jpg") %>