<footer class="footer">
  <small>
    <b>Personal contacts</b> by Martin SAMEK
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact information", contact_information_path %></li>
    </ul>
  </nav>
</footer>
